body {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
}

/* text and border styles */

h {
    font-size: 30px;
}

a {
    font-size: 24px;
}

.heading2{
    font-size: 22px;
    font-weight: bold;
}

.label-text {
    font-size: 16px;
}

.bold {
    font-weight: bold;
}

.bold-hover:hover {
    font-weight: bold;
}

.highlight-hover:hover {
    background-color: yellow;
}

.big-border {
    border: 4px solid;
}

.small-border {
    border: 2px solid;
}

/* header components */

.header {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 40px;

}

#logo {
    grid-row: 1;
    grid-column: 1;
    width:400px;
}

.header-right{
    grid-row: 1;
    grid-column: 2;
}

#navbar {
    justify-content: right;
    text-align: right;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: 40px;
    display: grid;
    grid-template-columns: 140px 140px;
    grid-gap: 20px;
}

#product-nav {
    grid-row: 1;
    grid-column:1;
}

#cart-nav {
    grid-row: 1;
    grid-column: 2;
}

#line {
    height: 6px;
    background-color:black;
    margin-right:-100px;
    margin-bottom: 70px;
}

/* product grid components */

.product-grid {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 40px;
    margin-right: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 60px;
    grid-row-gap: 80px;
}

.product-image{
    width: 100%;
}

.product-info-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
}

.glazing-options {
    width: 150px;
}

.pack-size-options{
    width: 150px;
    display: flex;
    justify-content: space-between;
}

/* Used these websites to help understand how to style the radio buttons properly:
https://stackoverflow.com/questions/4641752/css-how-to-style-a-selected-radio-buttons-label
https://stackoverflow.com/questions/18166664/text-only-radio-buttons */

input[type="radio"] {
    display: none;
}

input[type="radio"] + label {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid;
    width: 28px;
    height: 28px;
}

input[type="radio"]:checked + label {
    background-color: gray;
}

.add-to-cart-button {
    text-align: center;
    padding-top: 4px;
    padding-bottom: 4px;
    width: 146px;
}