.back-arrow {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
}

.top-bar {
    display: inline-flex;
    height: 80px;
    padding: 0px 48px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.arrow-heading-group {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}